/* APP STYLES */
.linkContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.albumAddNew__Container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.albumAddNew__lbl {
    font-weight: 900;
}
.albumList__Container {
    display: flex;
    justify-content: center;
}
.albumGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 640px;
    border: solid 2px lightslategray;
    padding: 1rem;
}
.albumList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 480px;
}
.albumItemDetails {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    border: 2px solid #565656;
    padding: 1rem;
}
.albumItemDetails__row {
    width: 100%;
    min-height: 1.5rem;
    padding: 0.5rem 0.75rem;
    display:flex;
    align-items:center;
}
.albumItemDetails__btn__del-container {
    margin-left: auto;
    order: -1
}
.albumItemDetails__btn__edit-container {
    text-align: center;
}
.albumItemDetails__btn__delete {
    position: absolute;
    margin-left: -24px;
}
.albumItemDetails__row__lbl {
    font-weight: 900;
    margin-right: 0.5rem;
}
.albumItemDetails__row span {
    display: inline-block;
}
.albumItemDetails__row .noRatingTxt {
    color:#a7a7a7;
}
